.container-home {
    height: 100vh;
    padding-top: 11vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: #F7F6F6;
    overflow: hidden;
}

.galeria-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #F7F6F6;
    width: 100vw;
    padding: 11vh 21vw 10vh 21vw;
    margin: auto;
}

.gallery-column-index {  
    width: 14vw;
}



@media (max-width: 1025px) {
   
    .galeria-index {
        grid-template-columns: 1fr 1fr;
        padding: 12vh 21vw 10vh 16vw;
    }

    .gallery-column-index {  
        width: 36vw;
        padding-right: 2vw;
    }

    .gallery-column-index .gallery-photo img{
        padding-bottom: 2vh;
    }

}   



@media(max-width: 768px) {

    .galeria-index {
        padding-top: 10vh;
    }
    
    .gallery-column-index .gallery-photo img{
        padding-bottom: 1.4vh;
    }

    .mobile-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-logo img {
        margin-top: 2vh;
        
        width: 22vw;
    }
    
    .mobile-logo p {
        margin-top: 2vh;
       
    }

    .home-anchor {
        text-decoration: none;
        color: rgb(37, 37, 37);
    }


}


