.container-home {
    height: 100vh;
    height: fit-content;
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: #F7F6F6;
    overflow: hidden;
}

.galeria-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #F7F6F6;
    width: 64vw;
    padding: 0vh 0vw 10vh 0vw;
    margin: auto;
    overflow: hidden;
}

.galeria-index .gallery-photo {
    padding-left: 0.8vw;
    padding-bottom: 0.5vh;
    width: 16vw;
}

.galeria-index .gallery-photo:hover{
    filter: opacity(90);
}

@media (max-width: 1025px) {
   
    .galeria-index {
        grid-template-columns: 1fr 1fr;
        padding: 1.4vh 4vw 10vh 2vw;
        width: 94vw;
    }


    .galeria-index .gallery-photo img{
        width: 44vw;
        padding-left: 2vw;
        padding-bottom: 1vh;
    }

}   



@media(max-width: 768px) {

    .galeria-index {
        padding-top: 1vh;
    }
    

}


