.main-container-gallery {
    margin: 2vh 0vw 0vh 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 9vh;
    padding-bottom: 8vh;
    background-color: #F7F6F6;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}

.gallery-column {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: end;
    
}

.gallery-photo img{
    width: 100%;
    padding-bottom: 2vh;
    filter: grayscale(15%); /* 100% grayscale (black and white) */
    transition: opacity 0.3s; /* smooth transition effect */
}

.gallery-photo img:hover {
  opacity: 60%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: justify;
  height: fit-content;
  padding: 2vh 2vw 2vh 2vw; 
  margin-bottom: 12px;
  border-radius: 4px;
  background-color: rgb(237, 237, 237);
}

.description h2{
  font-weight: bold;
  font-family: Poppins;
  font-size: 15px;
  height: 2vh;
  padding-top: 1vh;
  padding-bottom: 3vh;
}

.description a{
  color: black;
  /*text-decoration: none;*/
  
}

  
  @media(max-width: 886px) {
    .galeria {
      grid-template-columns: 1fr;
    }

    .gallery-column {
        width: 50vw;
    }

    .description {
      padding-left: 4vw;
      padding-right: 4vw;
    }
}

@media(max-width: 674px) {
  .gallery-column {
      width: 80vw;
  }

 
}