.gray-button {
    font-family: Poppins;
    font-weight: 200;
    font-size: 14px;
    border: solid thin;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    text-align: center;
    text-decoration: none;
    color: rgb(110, 110, 110);
    width: 70px;
    background-color: #eeeeee;
}

.gray-button:hover {
    color: #F31E25
}
