.main-container-fotos-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 12vh 24vw 10vh 24vw;
    overflow: hidden;
    background-color: #F7F6F6;
}

.main-container-fotos-index a {
    text-decoration: none;
}

@media(max-width: 1090px) {
    .main-container-fotos-index {
        grid-template-columns: 1fr 1fr;  
    }
}