.main-container-fotos-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 10vh 13vw 12vh 13vw;
    
    
}

.main-container-fotos-index a {
    text-decoration: none;
}

@media(max-width: 1090px) {
    .main-container-fotos-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 150vh;
        margin: 10vh 8vw 8vh 8vw;
        overflow: hidden;
    }
    
}

@media(max-width: 769px) {
    .main-container-fotos-index {
        height: 100vh;  
    }
    
}
